.Welcome{
  padding: 6rem;
  text-align: center;
  background-image: url("/Assets/medias/Section-Welcom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .h1{
    font-size: 3.875rem;
    color: whitesmoke;
  }
}